<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="front_left_wheel_joint">
            <command_interface name="velocity"/>
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            <state_interface name="velocity"/>
        </joint>
        <joint name="front_right_wheel_joint">
            <command_interface name="velocity"/>
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity"/>
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity"/>
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>